DirectoryIndex ""
RewriteEngine On

# Manejo de WebSocket
RewriteCond %{REQUEST_URI} ^/apis_footx/gestion_universidad [NC]
RewriteCond %{HTTP:UPGRADE} ^WebSocket$ [NC]
RewriteCond %{HTTP:CONNECTION} ^Upgrade$ [NC]
RewriteRule .* ws://127.0.0.1:4000%{REQUEST_URI} [P,QSA,L]

# Redirección de solicitudes HTTP a la aplicación Node.js
RewriteCond %{REQUEST_URI} ^/apis_footx/gestion_universidad [NC]
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_FILENAME} !-f
RewriteRule .* http://127.0.0.1:4000%{REQUEST_URI} [P,QSA,L]